html,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-size: 0;
    transition: background .1s ease-in;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

p {
    padding: 0;
    margin: 0;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}

.intro-inner {
    background-color: #fff;
    padding: 120px 181px 86px;
}

.intro-subtitle {
    display: block;
    color: #898f99;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 0.4em;
    line-height: 30px;
    padding: 13px;
}

.intro-title {
    color: #27b4b6;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 30px;
    padding: 23px;
}

.intro-text {
    color: #898f99;
    text-align: center;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
    padding: 22px;
}

.cards-list {
    list-style: none;
    padding: 0;
}

.card-item {
    display: inline-block;
    max-width: 25%;
    background-color: #f7f7f7;
    border: 1px solid #ececec;
    text-align: center;
    margin-bottom: 140px;
}

.card-item:hover .card-image {
    background-color: #27b4b6;
    fill: #f7f7f7;
}

.card-item:hover .card-title {
    background-color: #27b4b6;
    color: #f7f7f7;
}

.card-item:hover .card-text {
    background-color: #27b4b6;
    color: #f7f7f7;
}

.card-link {
    display: block;
    text-decoration: none;
}

.card-image {
    display: block;
    fill: #1b1b1b;
    padding: 55px;
}

.card-title {
    color: #1b1b1b;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    text-transform: uppercase;
    line-height: 22px;
}

.card-text {
    color: #777;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 30px 35px 87px;
}
